<configuration>
    <appender name="default" class="ch.qos.logback.core.FileAppender">
        <file>log.log</file>
        <immediateFlush>false</immediateFlush>
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="default"/>
    </root>
</configuration>